.Title, .Notification, .Pause {
    text-align: center;
    color: black;
}

.Title {
    font-size: 4em;
    line-height: 336px;
}

.Notification .Achievement {
    color: white;
}

.Pause {
    font-size: 2em;
    background: rgba(200, 200, 200, 0.75);
}

.Pause div {
    padding: 2em;
    line-height: 2em;
}
