html {
    background-color: black;
}

body {
    color: white;
    text-align: center;
}

header {
    margin: 1em;
}

header h1 {
    text-transform: capitalize;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0;
}

header nav {
    font-size: 0.9em;
}

header nav a {
    color: #AAAAAA;
}

header nav a:hover {
    color: #CCCCCC;
}

.game-container {
    margin: 0 auto;
}

.game-container #cr-stage {
    border: 1px solid white;
    margin: 0 auto;
}

.text-container {
    background: white;
    margin: 0 auto;
    padding: 14px;
}

.text {
    border: 14px solid black;
    text-align: justify;
    font-size: 0.9em;
    color: black;
    padding: 0 14px;
}

@media (min-width: 714px) {
    .text-container {
        max-width: 714px;
    }
}

.text h2 {
    margin-bottom: 0;
}

a.tt, code {
    font-family: "monospace";
    font-size: 0.8em;
}

#achievements dt {
    font-weight: bold;
}

footer {
    margin: 2em;
    font-size: 0.75em;
}

nav {
    color: #AAAAAA;
}

nav p {
    margin: 0.5em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-of-type):after {
    content: " - ";
}

nav a, footer a:visited {
    color: #666666;
    text-decoration: none;
}

nav a:hover {
    color: #888888;
    text-decoration: underline;
}
